.post {
    /*width: 18%;
    margin: 20px;
    display: inline-flex;
    border-radius: 15px;
    border-style: solid;
    padding: 20px 0px 20px 50px;*/
    
    background: rgb(212, 243, 234);
    padding: 0px;
    width: 350px;
    margin: 15px;
    line-height: 25px;
    color: darkslategray;
    text-align: center;
    display: inline-block;
    vertical-align:top;
}

.postContent{
    /*display: flex;
    flex-direction: column;*/
    flex-direction:  row;
    flex-wrap:  wrap;
}

.postDelete {
    display: none;
}

#className {
    /*width:236px; this is same as 250 textarea*/
    width:305px;
    text-align: center;
    color:darkslategray;
}

.notes {
    width:250px;
    border-radius: 0;
    resize: none;
}
